<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="SountyDB" connectionString="metadata=res://*/DataAccess.SountyDB.csdl|res://*/DataAccess.SountyDB.ssdl|res://*/DataAccess.SountyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VKKSBFR;initial catalog=Sounty;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>